body {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	height: 100vh;
}

.calculatorContainer{
	height: 75%;
	background-color: #333333;
	border-radius: 21px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#totalContainer{
	height: 85%;
}
#mixContainer{
	display: flex;
	clear: both;
	height: 85%;
}
#displayContainer{
	background-color: #cccc99;
	height: 15%;
	border: solid 3px white;
    border-style: ridge;
    box-shadow: 0 0 0 4px black;
  }
#memoryContainer{
    height: 12%;
    padding-left: 0;
}

#memoryContainer ul{
	height: 100%;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
#memoryContainer li{
	background-color: #666666;
	height: 100%;
	list-style-type: none;
	border-radius: 10px;
	color: white;
	flex-basis: 0;
	flex-grow: 1;

}
#numberContainer{
    height: 88%;
    padding-left: 0;
}
break{
	flex-basis: 100%;
	width: 0;
	height: 0;
	overflow: hidden;
}
#numberContainer ul{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
}
#numberContainer li{
	background-color: #ffffff;
	height: 25%;
	list-style-type: none;
	border-radius: 10px;
	color: black;
	flex-basis: 0;
	flex-grow: 1;
}
#operationContainer{
	height: 100%;
    margin-left: auto;
    padding-right: 0;
}
#operationContainer ul{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	order: 3;
}
#operationContainer li{
	background-color: red;
	height: 20%;
	list-style-type: none;
	border-radius: 10px;
	color: black;
	flex-basis: 0;
	flex-grow: 1;

}